<ion-view view-title="Sky" cache-view="false">
	<ion-content class="login2">
		<div class="customContentPadding">
			<p style="margin: 5px">
				Selecione o motivo do seu desinteresse:
			</p>

			<button class="button button-block button-royal shadowBox arredondaButton" ng-click="finalizar()">Motivo 1</button>
			<button class="button button-block button-royal shadowBox arredondaButton" ng-click="finalizar()">Motivo 2</button>
			<button class="button button-block button-royal shadowBox arredondaButton" ng-click="finalizar()">Motivo 3</button>


		</div>
	</ion-content>
</ion-view>
