<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ComCpfEShortId" stopProcessing="true">
                    <match url="^CPF/([^/]+)/([^/]+)/([^/]*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" url="#/app/login?CPF={R:1}&amp;shortId={R:2}&amp;campaingId={R:3}" />
                </rule>
                <rule name="ApenasCpf" stopProcessing="true">
                    <match url="^CPF/([^/]*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Redirect" url="#/app/login?CPF={R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
