<ion-view view-title="Sky" cache-view="false">
	<ion-content class="login2">
		<div class="customContentPadding">

			<p style="margin: 5px">
				Selecione um método de contrato:
			</p>
			<div class="contrato-buttons">
				<button class="button button-block button-royal shadowBox arredondaButton" ng-click="goPhone()">Telefone</button>
				<div style="margin: 50px 0" />
				<button class="button button-block button-royal shadowBox arredondaButton" ng-click="goChat()">Chat</button>
			</div>

		</div>
	</ion-content>
</ion-view>
